@{
    ViewBag.Title = "RoleAddToUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="spacerBody">
    <p>&nbsp;</p>
    @Html.ActionLink("Create New Role", "RoleCreate") | @Html.ActionLink("Roles", "RoleIndex")


    <h3 style="color:black;"  class="message-success">@ViewBag.ResultMessage</h3>


    <h2>Add role to user</h2>

    @using (Html.BeginForm("RoleAddToUser", "Account"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)


        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-2">Username : </label>
                <div class="col-md-10">
                    @Html.DropDownList("UserName", ViewBag.Users as SelectList, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2"> Role Name: </label>
                <div class="col-md-10">
                    @Html.DropDownList("RoleName", ViewBag.Roles as SelectList, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <h2>Remove role from user</h2>
    @using (Html.BeginForm("DeleteRoleForUser", "Account"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-2">Username : </label>
                <div class="col-md-10">
                    @Html.DropDownList("UserName", ViewBag.Users as SelectList, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2"> Role Name: </label>
                <div class="col-md-10">
                    @Html.DropDownList("RoleName", ViewBag.Roles as SelectList, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Delete this user from Role" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <h2>List roles for user</h2>
    @using (Html.BeginForm("GetRoles", "Account"))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-2">Username : </label>
                <div class="col-md-10">
                    @Html.DropDownList("UserName", ViewBag.Users as SelectList, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Get Roles for this User" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

            @if (ViewBag.RolesForThisUser != null)
            {
                <text>
                    <h3>Roles for this user </h3>
                    <ol>
                        @foreach (string s in ViewBag.RolesForThisUser)
                        {
                            <li>@s</li>
                        }
                    </ol>
                </text>
            }
        </div>
